
<a href="#" ng-click="btnBorrarUsuarios()" class="waves-effect waves-light btn #b71c1c red darken-4"><i class="material-icons left">delete_forever</i>Borrar usuarios</a>
<a href="#" class="waves-effect waves-light btn grey darken-4">
    <i class="material-icons left" ng-class="online ? 'light-green-text text-accent-4' : 'red-text text-accent-4'">
        {{ online ? 'network_wifi' : 'signal_wifi_off' }}
    </i>
    {{ online ? 'SERVER: ' + IP : 'Modo: Offline' }}
</a>

<a href="#" class="waves-effect waves-light btn grey darken-4">
    <i class="material-icons left" ng-class="webapi ? 'light-green-text text-accent-4' : 'red-text text-accent-4'">
        cloud
    </i>
    WEBAPI
</a>

<div class="row">
    <form class="col s12">
        <div input-field class="col s4">
            <input type="text" ng-model="usuario.nombre" length="50">
            <label>Nombre</label>
        </div>

        <div input-field class="col s4">
            <input type="text" ng-model="usuario.clave" length="50">
            <label>Clave</label>
        </div>

        <div input-field class="col s4">
            <input type="text" ng-model="usuario.departamento" length="50">
            <label>Departamento</label>
        </div>
    </form>
</div>

<div>
    <a href="#" ng-click="btnAgregarUsuario()" class="waves-effect waves-light btn light-green darken-4"><i class="material-icons left">add_circle_outline</i>Agregar usuario</a>
</div>

<table class="highlight responsive-table">
    <thead>
        <tr>
            <th data-field="nombre">Nombre</th>
            <th data-field="clave">Clave</th>
            <th data-field="departamento">Departamento</th>
            <th data-field="altaLog">Alta</th>
            <th data-field="modiLog">Modificación</th>
            <th data-field="sync">Sincronizado</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="u in usuarios">
            <td>{{ u.nombre }}</td>
            <td>{{ u.clave }}</td>
            <td>{{ u.departamento }}</td>
            <td>{{ u.altaLog }}</td>
            <td>{{ u.modiLog }}</td>
            <td>{{ u.sync }}</td>
            <td>
                <a href="#modal1" style="margin: 0; padding: 2px; height: 18px; line-height: 15px;" class="waves-effect  blue darken-1 btn" modal ng-click="btnModificarUsuario(u)">Editar</a>
            </td>
        </tr>

    </tbody>
</table>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div input-field class="col s4">
                    <input type="text" ng-model="editar.nombre" length="50">
                    <label>Nombre</label>
                </div>

                <div input-field class="col s4">
                    <input type="text" ng-model="editar.clave" length="50">
                    <label>Clave</label>
                </div>

                <div input-field class="col s4">
                    <input type="text" ng-model="editar.departamento" length="50">
                    <label>Departamento</label>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="modalEditar.guardarCambios()">Guardar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" ng-click="modalEditar.cancelarCambios()">Cancelar</a>
    </div>
</div>